* {
	font-size: 22px;
}

.ProductsPage-container,
.RegistryPage-container {
	display: grid;
	grid-template-columns: 1fr min-content;
	gap: 1rem;
	padding: 0 1rem;
}
.ProductsTable,
.RegistryTable {
	overflow-y: scroll;
}
.RegistryTable-row {
	display: grid;
	grid-template-columns: 1fr 5fr 4fr 10fr 4fr 4fr;
	justify-items: center;
}

.ProductsTable-row {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr 2fr 1fr;
}

.ProductsTable-row td:nth-child(1) {
	padding-left: 1rem;
}

.SalesTable-row {
	display: grid;
	grid-template-columns: 1fr 4fr 4fr 2fr;
	justify-items: center;
}

.RegistryTable-row th:nth-child(1),
.RegistryTable-row td:nth-child(1) {
	justify-self: center;
}

th {
	align-content: center;
}

.SalesFilter {
	margin: 0.5rem 1rem;
	display: flex;
	justify-content: center;
}

.form-container {
	width: 600px;
	margin: 50px auto;
	text-align: center;
}

.form-content {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-container div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-container span {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
}
